
  <div class="container-fluid full-height">
    <div class="row h-100">
    
      <!-- Canasta (solo en escritorio) -->
      <div class="col-md-5 left-panel d-none d-md-flex flex-column">
        <h2 class="mb-4">Canasta</h2>

        <!-- Contenedor con scroll -->
        <div class="canasta-lista-scroll flex-grow-1 mb-3">
          <ul class="list-group" id="canasta-lista-desktop"></ul>
        </div>

        <!-- Fijo abajo -->
        <div class="canasta-footer">
          <div class="d-flex justify-content-between mb-3">
            <strong>Total:</strong>
            <strong id="total-venta-desktop">$0</strong>
          </div>
          <button class="btn btn-success w-100 blue">Confirmar Venta</button>
        </div>
      </div>

      <!-- Productos -->
      <div class="col-md-7 right-panel d-flex flex-column">
        <div class="row mb-3 nueva-venta-footer">
          <h1><a title="new_venta" href=""><img class="me-3" width="65px" src="../../assets/img/Nueva_venta/arrow-down_icon-icons.com_72377.png" alt=""></a> <img class="me-3" width="80px" src="../../assets/img/Nueva_venta/nueva_venta.png" alt="">Nueva Venta</h1>
        </div>
        <br>
        <div class="row align-items-center mb-3">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <form class="d-flex justify-content-center text-center" role="search">
              <div class="input-group busca">
                <button title="boton_buscar" class="btn btn-primary boton_buscador" type="submit"><img width="35px" src="../../assets/img/Logos Admin/Buscador.png" alt=""></button>
                <input class="form-control input-buscador" type="search" placeholder="Buscar" aria-label="Buscar">
              </div>
            </form>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="dropdown w-100">
              <button class="btn btn-primary dropdown-toggle bg-white range w-100" type="button" data-bs-toggle="dropdown">
                Ordenar: Productos más Vendidos
              </button>
              <div class="dropdown-menu anchor">
                <a class="dropdown-item" href="#">
                  <div class="contenido-botones2">
                    <h6>Productos Más Vendidos</h6>
                  </div>
                </a>
                <a class="dropdown-item" href="#">
                  <div class="contenido-botones2">
                    <h6>Alfabéticamente</h6>
                  </div>
                </a>
                <a class="dropdown-item flexible2" href="#">
                  <div class="contenido-botones2">
                    <h6>Productos Más Rentables</h6>
                  </div>
                </a>
                <a class="dropdown-item flexible2" href="#">
                  <div class="contenido-botones2">
                    <h6>Últimas Unidades Disponibles</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Cuadrícula de productos -->

        <div class="container-fluid flex-grow-1 products-scroll">
          <div class="products-grid">
            <div class="card">
              <div class="">
                <img src="../../assets/img/products img/cocacola.jpg" class="img-card" alt="" width="250px" height="220px">
                <div class="card-body">
                  <p class="text-prec">$ 5.000</p>
                  <p class="text-nom">Coca Cola 1.5L</p>
                  <p class="text-cant">10 Disponibles</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="">
                <img src="../../assets/img/products img/cocacola.jpg" class="img-card" alt="" width="250px" height="220px">
                <div class="card-body">
                  <p class="text-prec">$ 5.000</p>
                  <p class="text-nom">Coca Cola 1.5L</p>
                  <p class="text-cant">10 Disponibles</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="">
                <img src="../../assets/img/products img/cocacola.jpg" class="img-card" alt="" width="250px" height="220px">
                <div class="card-body">
                  <p class="text-prec">$ 5.000</p>
                  <p class="text-nom">Coca Cola 1.5L</p>
                  <p class="text-cant">10 Disponibles</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="">
                <img src="../../assets/img/products img/cocacola.jpg" class="img-card" alt="" width="250px" height="220px">
                <div class="card-body">
                  <p class="text-prec">$ 5.000</p>
                  <p class="text-nom">Coca Cola 1.5L</p>
                  <p class="text-cant">10 Disponibles</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="">
                <img src="../../assets/img/products img/cocacola.jpg" class="img-card" alt="" width="250px" height="220px">
                <div class="card-body">
                  <p class="text-prec">$ 5.000</p>
                  <p class="text-nom">Coca Cola 1.5L</p>
                  <p class="text-cant">10 Disponibles</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="">
                <img src="../../assets/img/products img/cocacola.jpg" class="img-card" alt="" width="250px" height="220px">
                <div class="card-body">
                  <p class="text-prec">$ 5.000</p>
                  <p class="text-nom">Coca Cola 1.5L</p>
                  <p class="text-cant">10 Disponibles</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="">
                <img src="../../assets/img/products img/cocacola.jpg" class="img-card" alt="" width="250px" height="220px">
                <div class="card-body">
                  <p class="text-prec">$ 5.000</p>
                  <p class="text-nom">Coca Cola 1.5L</p>
                  <p class="text-cant">10 Disponibles</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="">
                <img src="../../assets/img/products img/cocacola.jpg" class="img-card" alt="" width="250px" height="220px">
                <div class="card-body">
                  <p class="text-prec">$ 5.000</p>
                  <p class="text-nom">Coca Cola 1.5L</p>
                  <p class="text-cant">10 Disponibles</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="">
                <img src="../../assets/img/products img/cocacola.jpg" class="img-card" alt="" width="250px" height="220px">
                <div class="card-body">
                  <p class="text-prec">$ 5.000</p>
                  <p class="text-nom">Coca Cola 1.5L</p>
                  <p class="text-cant">10 Disponibles</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="">
                <img src="../../assets/img/products img/cocacola.jpg" class="img-card" alt="" width="250px" height="220px">
                <div class="card-body">
                  <p class="text-prec">$ 5.000</p>
                  <p class="text-nom">Coca Cola 1.5L</p>
                  <p class="text-cant">10 Disponibles</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Globo flotante del carrito (móvil) -->
      <div class="cart-float circle" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart">
        <span class="d-flex justify-content-center carrito" id="cart-count"><img width="30px" src="../../assets/img/Nueva_venta/carrito de compra.png" alt="">0</span>
      </div>

      <!-- Offcanvas carrito -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Tu Canasta</h5>
          <button title="Canasta" type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="list-group mb-3" id="canasta-lista-mobile"></ul>
          <div class="d-flex justify-content-between mb-3">
            <strong>Total:</strong>
            <strong id="total-venta-mobile">$0</strong>
          </div>
          <button class="btn btn-success w-100 blue">Confirmar Venta</button>
        </div>
      </div>
    </div>
  </div>
