<nav class="navbar navbar-expand-lg bg-body-white shadow-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" title="logo">
            <img src="../../assets/img/Logo-removebg-preview.png" alt="" width="120" height="85">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item line-brown bg-brown separador">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Productos</a>
          </li>
          <li><div class="line"></div></li>
          <li class="nav-item line-brown separador">
            <a class="nav-link active" aria-current="page" [routerLink]="['donde-estamos']">Donde Estamos</a>
          </li>
          <li><div class="line"></div></li>
          <li class="nav-item separador">
            <a class="nav-link active" aria-current="page" [routerLink]="['pqrs']">Escribenos tus PQRS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>