<br>
<br>
<div class="bg-light container-fluid fondo">
    <div class="row">
        <div class="col justify-content-center align-items-center text-center ">
            <br><br>
            <img src="../../assets/img/Logo-removebg-preview.png" width="200px" alt="">
            <h2>Siguenos:</h2>
            <a href="" aria-label="whastapp"><img class="img-redes" src="../../assets/img/whatsapp.png" width="60px" alt=""></a>
            <a href="" aria-label="instagram"><img class="img-redes" src="../../assets/img/instagram.png" width="65px" alt=""></a>
            <a href="" aria-label="Abrir menú"><img class="img-redes" src="../../assets/img/facebook.png" width="65px" alt=""></a>
            <br>
            <a [routerLink]="['login-admin']">Administrador</a>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="bg-brown container-fluid fondo">
    <div class="row">
        <div class="col justify-content-center align-items-center text-center ">
            <h3>© 2025 Panaderia y Reposteria Antojitos de Doima</h3>
        </div>
    </div>
</div>