<div class="container body">
    <div class="row login bg-white">
      
      <div class="col-md-6 text-center p-4">
        <img src="../../assets/img/login.jpg" alt="Login" class="login-img img-fluid">
      </div>
      
      <div class="col-md-6 p-4">
        <h2 class="titulo-login">Seguridad</h2><br>
        <p class="text-security">Por favor, digita el codigo de verificación que fue enviado a tu Correo Electronico</p>
  
        <form>
            <div class="container text-center my-4">
                <p class="text-security fw-bold">f******japoQgmail.com</p>
              
                <div class="d-flex justify-content-center gap-2">
                  <input title="codigo1" type="text" class="form-control otp-input" maxlength="1">
                  <input title="codigo2" type="text" class="form-control otp-input" maxlength="1">
                  <input title="codigo3" type="text" class="form-control otp-input" maxlength="1">
                  <input title="codigo4" type="text" class="form-control otp-input" maxlength="1">
                  <input title="codigo5" type="text" class="form-control otp-input" maxlength="1">
                  <input title="codigo6" type="text" class="form-control otp-input" maxlength="1">
                </div>
              </div>
  
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-principal">Verificar</button>
          </div>
        </form>
      </div>
  
    </div>
  </div>