<app-nav-bar></app-nav-bar>
<br><b></b>
<!-- Imagen -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="../../assets/img/pqrs.png" alt="" class="img-fluid d-block mx-auto pqrs-img" width="700px">
        </div>
    </div>
</div>
<br>
<!-- Comentario -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Tus comentarios son muy importantes para nosotros. Compártenos tus<br> peticiones, quejas, reclamos o sugerencias por el servicio que recibiste.</h3>
        </div>
    </div>
</div>
<!-- Formulario -->
<br><br>
<div class="container">
    <div class="row">
        <div class="d-flex flex-column">
            <label for="exampleFormControlInput1" class="form-label">Nombre Completo *</label>
            <div class="d-flex gap-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Apellido">
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Correo Electronico*</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
              </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Celular / WhatsApp*</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Numero Telefonico">
              </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comentarios*</label>
                <textarea class="form-control tarea" id="exampleFormControlTextarea1" rows="3" placeholder="Comentarios..."></textarea>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <label for="exampleFormControlTextarea1" class="form-label">Concentimiento*</label>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label autorizo" for="defaultCheck1">
                  Autorizo a la Panaderia y Reposteria Antojitos de Doima enviarme mensajes a través de sus diferentes medios.
                </label>
              </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button">Enviar</button>
              </div>
        </div>
    </div>
</div>
<app-footer></app-footer>