<app-admin-navbar></app-admin-navbar><br>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 class="tit-inventario">Inventario</h1>
        </div>
    </div>
</div>

<!-- Cantidad y Total de Inventario -->

<div class="container cant-total d-flex ">
    <div class="container body1">
        <div class="img-box">
            <img src="../../assets/img/icons-navbar/Inventario.png" alt="" width="60px" height="60px">
        </div>
        <div class="cant-inven">1001</div>
        <div class="text">Cantidad de Referencias</div>
    </div>

    <div class="container body2">
        <div class="img-box">
            <img src="../../assets/img/icons-navbar/money-costo-inven.png" alt="" width="60px" height="60px">
        </div>
        <div class="cant-inven">$ 2.100.000</div>
        <div class="text">Costo Total del Inventario</div>
    </div>
</div><br>

<!-- Busqueda, Crear Categoria y Agregar Productos -->

<div class="container agg">

    <!-- Buscar Productos -->

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar Producto..." id="search-input">
                </div>
            </div>
        </div>

        <!-- Ver todas las Categorias -->

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="ver-cate">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Ver todas las Categorias</option>
                    <option value="1">Panaderia</option>
                    <option value="2">Pasteleria</option>
                    <option value="3">Bebidas</option>
                </select>
            </div>
        </div>

        <!-- Crear Categoria -->

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="crear-cate">
                <button class="btn crear" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCrearCategoria" aria-controls="offcanvasCrearCategoria">
                    Crear Categoria
                </button>
                  
                <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasCrearCategoria" aria-labelledby="offcanvasCrearCategoriaLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasCrearCategoriaLabel">Crear Categoria</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div>
                        <div class="container form">
                          <div class="formulario">
                              <form>
                                  <div class="mb-3">
                                    <label for="exampleInputText" class="form-label">Nombre de la Categoria</label>
                                    <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                                  </div><br>
                              </form>
                          </div>
                      </div>
                    </div>
                  </div>
                    <div class="confirmarfinal">
                      <div class="fila-superior">
                        <div class="elimi-modifi">
                          <button type="submit" class="btn eliminar">
                            <img src="../../assets/img/icons-crear/eliminar.png" alt="" width="25px" height="25px">
                            Eliminar
                          </button>
                          <button type="submit" class="btn modificar">
                            <img src="../../assets/img/icons-crear/modificar.png" alt="" width="25px" height="25px">
                            Modificar
                          </button>
                        </div>
                      </div>
                      <div class="fila-inferior">
                        <button type="submit" class="btn create_cate">Crear Categoría</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <!-- Agregar Producto -->

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="agg-produc">
                <button class="btn agregar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAgregarProducto" aria-controls="offcanvasAgregarProducto">
                    Agregar Producto
                  </button>
                  
                  <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasAgregarProducto" aria-labelledby="offcanvasAgregarProductoLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasAgregarProductoLabel">Crear Producto</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <div>
                        <app-create-producto></app-create-producto>
                      </div>
                    </div>
                    
                  </div>
                    <div class="offcanvas offcanvas-start" id="offcanvasEditarProducto"
                      tabindex="-1" aria-labelledby="offcanvasEditarProductoLabel"
                      *ngIf="productoSeleccionado">

                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasEditarProductoLabel">Modificar Producto</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                      <app-modify-product *ngIf="productoSeleccionado" [producto]="productoSeleccionado"></app-modify-product>
                    </div>
                  </div>

            </div>
        </div>
    </div>

<br> <br>
<!-- Productos del Inventario -->


    <!-- Fila 1 -->
<div class="container principal">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let prod of productos">
      <button title="tarjetas" class="card2" type="button" (click)="openModal(prod.CODIGO_PRODUCTO)" >
      <div class="card">
        <img [src]="'http://localhost:8000/storage/' + prod.IMG_PRODUCTO" class="img-card" alt="" width="250px" height="220px">
        <div class="card-body">
          <p class="text-prec">$ {{ prod.PRECIO_COMERCIAL }}</p>
          <p class="text-nom">{{ prod.NOMBRE_PRODUCTO }}</p>
          <p class="text-cant">{{ prod.STOCK_PRODUCTO }} Disponibles</p>
        </div>
      </div>
      </button>
    </div>
  </div>


<!-- Pagination -->

<nav aria-label="pagination">
  <ul class="pagination">
    <li>
      <a href="">
        <span aria-hidden="true">&laquo;</span>
        <span class="visuallyhidden">previous set of pages</span>
      </a>
    </li>
    <li>
      <a href="" aria-current="page">
        <span class="visuallyhidden">page </span>1
      </a>
    </li>
    <li>
      <a href="">
        <span class="visuallyhidden">page </span>2
      </a>
    </li>
    <li>
      <a href=""> 
        <span class="visuallyhidden">page </span>3 
      </a>
    </li>
    <li>
      <a href=""> <span class="visuallyhidden">page </span>4 </a>
    </li>
    <li>
      <a href="">
        <span class="visuallyhidden">next set of pages</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav><br>