<div class="container body">
    <div class="row login bg-white">
      
      <div class="col-md-6 text-center p-4">
        <img src="../../assets/img/login.jpg" alt="Login" class="login-img img-fluid">
      </div>
      
      <!-- Formulario -->
      <div class="col-md-6 p-4">
        <h2 class="titulo-login">Punto de Venta</h2><br>
  
        <form>
          <div class="mb-3">
            <label for="correo" class="form-label">Codigo de Caja</label>
            <input type="email" class="form-control" id="correo" placeholder="Codigo de Caja">
          </div>
  
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-principal">Ingresar</button>
            <button type="button" class="btn btn-secundario">Administrador</button>
          </div>
        </form>
      </div>
  
    </div>
  </div>