<!-- Botones Activo-Inactivo -->

<div class="container act-inac">
    <div class="activo">
        <button class="btn-act">Activo</button>
    </div>
    <div class="inactivo">
        <button class="btn-inac">Inactivo</button>
    </div>
</div><br>

<!-- Formulario Registro -->

<div class="container form">
    <div class="formulario">
        <form>
            <div class="mb-3">
              <label for="exampleInputText" class="form-label">Nombre del Cliente</label>
              <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputText" class="form-label">Apellido del Cliente</label>
                <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputText" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div><br>
          </form>
    </div>
</div>