<nav class="navbar" id="navContainer">
    <div class="container-fluid"> 
        <a class="img-navbar" [routerLink]="['/perfil_administrador']" routerLinkActive="active2" [routerLinkActiveOptions]="{exact: true}" aria-label="Abrir menú">
            <img class="foto_perfil" src="../../assets/img/Logo-removebg-preview.png" alt="" width="110" height="80">
        </a>
        <a class="navbar-brand" [routerLink]="['/movimientos']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
          <img src="../../assets/img/icons-navbar/Movimientos.png" alt="" width="30" height="30">
           <span class="nav-text">Movimientos</span>
        </a>
        <a class="navbar-brand" [routerLink]="['/inventario']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <img src="../../assets/img/icons-navbar/Inventario.png" alt="" width="30" height="30">
            <span class="nav-text">Inventario</span>
        </a>
        <a class="navbar-brand" [routerLink]="['/estadisticas']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <img src="../../assets/img/icons-navbar/Estadisticas.png" alt="" width="30" height="30">
            <span class="nav-text">Estadisticas</span>
        </a>
        <a class="navbar-brand" [routerLink]="['/cajas'] "routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <img src="../../assets/img/icons-navbar/Cajas.png"  alt="" width="30" height="30">
            <span class="nav-text">Cajas</span>
        </a>
        <a class="navbar-brand" [routerLink]="['/proveedor']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <img src="../../assets/img/icons-navbar/Proovedores.png" alt="" width="30" height="30">
            <span class="nav-text">Proovedores</span>
        </a>
        <a class="navbar-brand" [routerLink]="['/clientes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <img src="../../assets/img/icons-navbar/Clientes.png" alt="" width="30" height="30">
            <span class="nav-text">Clientes</span>
        </a>
    </div>
</nav>

