
.navbar-brand:hover{
  background-color: #5adbff;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
}
.active {
  background-color: #5adbff;
}
.active2{
  background-color: #5adbff;
  box-sizing: border-box;
  border-radius: 50%;
  width: 50px; /* O el tamaño que prefieras */
  height: 50px;

}

.img-navbar { 
  cursor: pointer;
  border-radius: 12px;
  width: 90px;
  height: 90px;
  object-fit: cover;
  outline: none;
}

.foto_perfil{
  margin-left: -9px;
  margin-top: 6px;
}
.container-fluid {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; 
  gap: 10px;
  padding: 10px; 
}

.navbar-brand {
  margin-right: 15px;
  border-radius: 12px;
  padding: 13px;
  cursor: pointer;
  flex: 0 0 auto; 
  display: flex;
  align-items: center;
  gap: 8px; 
}


@media screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    border-top: 2px solid rgb(207, 207, 207);
    border-bottom: none;
    background-color: white;
    z-index: 1000;
  }

  .nav-text {
    display: none;
  }

  .img-navbar{
    display: none;
  }

  .navbar-brand {
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .navbar-brand img {
    width: 100px; 
    height: 100px;
    border: #5adbff;
  }


  body {
    padding-bottom: 80px; 
  }
}
