<app-admin-navbar></app-admin-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12">
            <br>
            <div class="formulario">
                <br>
                <h1>Configuraciones</h1>
                <br><br><br><br><br><br><br>
                <form action="">
                    
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6 contenedores">
                                <label class="inputs" for="">Nombre Del Negocio</label><br>
                                <input class="input_contenedor" title="nombre" placeholder="Nombre" type="text">
                                <br><br>
                                <label class="inputs" for="">Ciudad donde se ubica el negocio</label><br>
                                <input class="input_contenedor" title="nombre" placeholder="Nombre" type="text">
                                <br><br>
                                <label class="inputs" for="">Correo Electronico</label><br>
                                <input class="input_contenedor" title="nombre" placeholder="Nombre" type="text">
                                <br><br>
                            </div>
                            <div class="col-6">
                                <label class="inputs" for="">Direccion del negocio</label><br>
                                <input class="input_contenedor" title="nombre" placeholder="Nombre" type="text">
                                <br><br>
                                <label class="inputs" for="">Numero de celular</label><br>
                                <input class="input_contenedor" title="nombre" placeholder="Nombre" type="text">
                                <br><br>
                                <label class="inputs" for="">Documento</label><br>
                                <input class="input_contenedor" title="nombre" placeholder="Nombre" type="text">
                                <br>

                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="container d-flex justify-content-center align-items-center">
                        <div class="row">
                            <div class="col-12">
                                <button class="guardarCambios" type="button" title="confirmar"> <h3>Guardar Cambios</h3></button>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <br>
        </div>
    </div>
</div>
