<app-nav-bar></app-nav-bar>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 >Donde Estamos</h1>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <iframe  class="d-block mx-auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.4776854534059!2d-74.97642173039289!3d4.4277273368241366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38cd36303c2509%3A0x257c4d934670a9cd!2sCl.%203%C2%AA%20%23%202-37%2C%20Doima%2C%20Piedras%2C%20Tolima!5e0!3m2!1ses!2sco!4v1745026781640!5m2!1ses!2sco" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <br>
            <br>
            <h2><span class="donde">Ubicación:</span> Cl. 3ª # 2-37 Antojitos de Doima</h2>
            <br>
            <br>
            <h2><span class="donde">Horario:</span> Domingos a Domingos de 7:30am a 10:00pm</h2>
            <br>
            <br>
            <h2><span class="donde">Telefonon:</span> 3184828051

            </h2>
        </div>
    </div>
</div>
<app-footer></app-footer>