// Style Form

.form-control{
    border: none;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
}

.form-control:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    outline: none; 
}

.form-select{
    border: none;
    box-shadow: 0 0 6px 0.5px rgba(143, 143, 143, 0.413);
}

.form-select:focus {
    border: 1px solid #5adbff;
    box-shadow: 0 0 6px 0.5px #5adbff;
    outline: none; 
}

.metodo-pago{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(143, 143, 143, 0.413);
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    width: 100%;
    height: 90%;
}
  
.item:focus {
    border: none;
    box-shadow: 0 0 6px 0.5px #5adbff;
}

.img-todas{
    margin-top: 10px;
}

.texto {
    font-size: 12px;
    margin-top: 5px;
    color: #333;
}